@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url(/style/intro.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

:root {
  --red-color: #e3646e;
  --purple-color:#bb72e9;
  --blue-color: #3996db;
  --green-color: #82bc4f;
  --yellow-color: #eabd5f;
  --bg-gray-100: #e2e4e9;
  --bg-gray-200: #c0c4ce;
  --bg-gray-300: #878ea1;
  --bg-gray-400: #292c34;
  --bg-gray-500: #16181d;
  --bg-gray-600: #0d0e11;
  --bg-intro-image: url(../assets/images/Background_Intro.png);
  --bg-contacts-image: url(../assets/images/Background_Contacts.png);

  --font-family-title: "Asap", sans-serif;
  --font-family-subtitle: "Inconsolata", monospace;
  --font-family-text: "Maven Pro", sans-serif;

  --font-title-lg: 800 56px/120% var(--font-family-title);
  --font-title-md: 800 24px/120% var(--font-family-title);
  --font-title-sm: 800 16px/120% var(--font-family-title);

  --font-subtitle: 400 20px/120% var(--font-family-subtitle);

  --font-text-md: 400 16px/140% var(--font-family-text);
  --font-text-sm: 400 14px/40% var(--font-family-text)
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}


.Intro {
  background-image: var(--bg-intro-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 750px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 163px 186px;
}

.subtitle {
  font: var(--font-subtitle);
  color: var(--bg-gray-200);
  text-align: center;
}

.subtitle-red {
  font: var(--font-subtitle);
  color: var(--red-color);
  text-align: center;
}

.Title-lg {
  font: var(--font-title-lg);
  color: var(--bg-gray-100);
  text-align: center;
  margin-top: 8px;

  
}

.text-sm {
  font: var(--font-text-sm);
  color: var(--bg-gray-300);
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 80px;

}

.bagde {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 16px;
  background-color: var(--bg-gray-500);
  border: 1px solid var(--bg-gray-400);
  border-radius: 999px;
  font: var(--font-text-md);
  color: var(--bg-gray-200);
}

.intro-text {
  width: 680px;
  height: 247px;

}

.Icons{
  flex-wrap: wrap;
  display: flex;
  width: 1040px;
  align-items: center;
  justify-content: center;
  margin-bottom: 94px;
  gap: 16px;
}

.icon-down {
  margin-top: 94px;
}
 
.icon-html {
  -webkit-mask-image: url(/assets/icons/HTML.svg);
  mask-image: url(/assets/icons/HTML.svg);
  background-color: var(--red-color);
}

.title-md {
  font: var(--font-title-md);
  color: var(--bg-gray-200);
  margin-top: 8px;
  justify-content: center;
  text-align: center;

}

.title-sm{
  font: var(--font-title-sm);
  color: var(--bg-gray-100);
}

.projets-container-back{
  background-color: var(--bg-gray-500);
  width: auto;
  height: auto;
  
}

.projects-container {
  width: 1040px;
  height: 584px;
  display: grid;
  grid-template-columns: repeat(3, 330px);
  gap: 24px;
  margin: 56px auto 144px auto;
  justify-content: center;
  align-items: start;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;

}

.card {
    background-color: var(--bg-gray-400);
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: 1px solid ;
}

.project-card {
  width: 330px;
  height: 280px;
  padding: 12px;
  background-color: #292C34;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: transform 0.2s ease;
  border: 1px solid transparent;
}

.project-card:hover {
  transform: translateY(-4px);
  border-color: var(--bg-gray-300);
  cursor: pointer;
}

.card-image img {
  width: 306px;
  height: 156px;
  background-color: #878EA1;
  border-radius: 8px;
  object-fit: cover;
}

.card-info {
  align-self: stretch;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.card-title {
  color:var(--bg-gray-100);
  font: var(--font-title-sm);
  line-height: 1.2;
}

.card-description {
  color:var(--bg-gray-200);
  font: var(--font-text-sm);
  line-height: 1.4;
}

.conteiner-service {
  background-color: var(--bg-gray-600);
  width: 1040px;
  margin: 56px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 330px);
  gap: 24px;
  justify-content: center;
}
.projets-section-wrapper {
  background: var(--bg-gray-600);
  width: 100%;
  padding: 0 0 120x 0;
}
.header-service {
  grid-column: 1 / -1; 
  text-align: center;
  margin-bottom: 56px;
  margin-top: 88px;
}

.card-service {
  border: 1px solid var(--bg-gray-500);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: transform 0.2s;
  
}

.card-description-service {
  font: var(--font-text-sm);
  color: var(--bg-gray-200);
  margin-top: 8px;
}